@import 'tailwindcss';

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.boska {
	font-family: 'Boska', Georgia, serif;
}
.anton {
	font-family: 'Anton', Impact, sans-serif;
}
.panchang {
	font-family: 'Panchang', system-ui, -apple-system, sans-serif;
}
